// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body
{
    font-family: 'CircularStd', sans-serif
}

$primary: #293462;
$secondary: #CF0820;
$green: #0F633B;
$lightgreen: #1BB752;
$yellow: #BACE24;
$darkblue: #006082;