.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    min-height: 100vh;
    background: linear-gradient(45deg, #ffc69b 0%, #e3898a 100%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  
    .logo {
      width: 200px;
      margin: 20px 0px;
    }
  
    &_box {
      width: 425px;
      /* height: 600px; */
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 12px;
      border-radius: 5px;
      align-items: center;
      background-color: white;
    }
  
    &_label {
      display: flex;
      width: 100%;
      justify-content: flex-start;
      position: relative;
      top: 15px;
      color: gray;
      font-size: 13px;
      font-weight: 700;
    }
  
    &_topHead {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 10px 0px;
      margin: 15px 0px;
  
      img {
        width: 40%;
      }
  
      p {
        color: #222e50;
        font-weight: 650;
        margin-top: 0px;
        font-size: 25px;
        position: relative;
      }
    }
  
    &_inputSection {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px 0px;
      position: relative;
      // margin-top: -30px;
      width: 100%;
      padding: 10px 20px;
    }
  
    &_head {
      color: #222e50;
      font-weight: 700;
      font-size: 20px;
      position: relative;
      text-align: center;
      top: 18px;
    }
  
    &_inputWrapper {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 10px;
  
      input, select {
        width: 100%;
        padding: 8px 20px;
        /* padding-left: 50px; */
        padding-right: 15px;
        border: none;
        outline: none;
        border-radius: 4px;
        margin: 12px 0px;
        box-shadow: 0px 0px 6px -1px grey;
        font-weight: 600;
        position: relative;
        font-size: 16px;
        color: #747474;
      }

      select {
        text-transform: capitalize;
      }
  
      input::placeholder {
        color: #749aa9;
        font-weight: 450;
      }
  
      input:focus {
        box-shadow: 0px 0px 7px -2px rgb(92, 92, 92);
      }
  
      .emailIcon {
        position: absolute;
        left: 10px;
        z-index: 99;
        top: 30px;
        /* font-size: 22px; */
        color: #749aa9;
        width: 22px;
      }
  
      .passIcon {
        position: absolute;
        left: 10px;
        z-index: 99;
        top: 23px;
        /* font-size: 22px; */
        color: #749aa9;
        width: 18px;
      }
  
      .showEye {
        position: absolute;
        right: 10px;
        top: 25px;
        color: #749aa9;
        cursor: pointer;
        z-index: 999;
      }
    }
  
    &_changePassword {
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 65%;
  
      p {
        font-size: 12px;
        color: #8f9392;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3ms ease-in;
      }
  
      p:hover {
        color: #747474;
        font-weight: 600;
      }
    }
  
    &_loginBtn {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px 0px;
  
      button {
          padding: 8px 79px;
          background: linear-gradient(45deg, #FF9747 0%, #F8696A 100%);
          font-weight: 650;
          border-radius: 10px;
          border: none;
          outline: none;
          color: #fff;
          font-size: 18px;
          text-align: center;
          transition: 0.2ms ease-in;
      }
      button:hover {
          background: linear-gradient(180deg, #FF9747 0%, #F8696A 100%);
  
      }
    }
  
    @media (max-width: 500px) {
      &_box {
        width: 100%;
      }
    }
  }
  